#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f3e6;
}
.mainSection{
    flex-grow: 1;
    
}

.navbar-menu{
    background-color:#48120E;
}
.form-registro{
    border: 1px solid #48120E;
    
    margin: 1rem;
    padding: 3rem;
}
.cardReceta{
    width: 18rem;
}

